# Import and Export Files

# Challenge 1 - Working with JSON files
Import the pandas library.

In [16]:
# your code here
import pandas as pd

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [17]:
# your code here
nasa = pd.read_json('nasa.json')

Now that we have loaded the data, let's examine it using the head() function.

In [18]:
# your code here
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [19]:
# your code here
nasa['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [20]:
# your code here
nasa.to_json('nasa.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [25]:
#Your pandas import here:
import pandas as pd

In [26]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [38]:
# Your code here:
data = pd.read_csv('astronaut.csv', error_bad_lines=False)

C:\Users\User\AppData\Local\Temp\ipykernel_14816\857040316.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('astronaut.csv', error_bad_lines=False)
Skipping line 5: expected 3 fields, saw 5
Skipping line 7: expected 3 fields, saw 4
Skipping line 9: expected 3 fields, saw 5
Skipping line 14: expected 3 fields, saw 5
Skipping line 18: expected 3 fields, saw 4
Skipping line 21: expected 3 fields, saw 4
Skipping line 22: expected 3 fields, saw 5
Skipping line 24: expected 3 fields, saw 4
Skipping line 29: expected 3 fields, saw 6
Skipping line 30: expected 3 fields, saw 4
Skipping line 31: expected 3 fields, saw 5
Skipping line 32: expected 3 fields, saw 4
Skipping line 34: expected 3 fields, saw 5
Skipping line 36: expected 3 fields, saw 4
Skipping line 37: expected 3 fields, saw 6
Skipping line 39: expected 3 fields, saw 5
Skipping line 40: expected 3 fields, saw 5
Skipping line 43: expected 3 fields, saw 7
Skipping line 46: expected 3 fields, saw 5
Skipping line 49: expected 3 fields, saw 4
Skipping line 50: expected 3 fields, saw 5
Skipping line 51: expected 3 fields, saw 5
Skipping line 56: expected 3 fields, saw 4
Skipping line 61: expected 3 fields, saw 5
Skipping line 64: expected 3 fields, saw 4
Skipping line 67: expected 3 fields, saw 8
Skipping line 70: expected 3 fields, saw 5
Skipping line 71: expected 3 fields, saw 4
Skipping line 74: expected 3 fields, saw 4
Skipping line 75: expected 3 fields, saw 4
Skipping line 76: expected 3 fields, saw 6
Skipping line 77: expected 3 fields, saw 4
Skipping line 78: expected 3 fields, saw 5
Skipping line 80: expected 3 fields, saw 5
Skipping line 82: expected 3 fields, saw 5
Skipping line 84: expected 3 fields, saw 4
Skipping line 85: expected 3 fields, saw 5
Skipping line 87: expected 3 fields, saw 4
Skipping line 89: expected 3 fields, saw 4
Skipping line 90: expected 3 fields, saw 5
Skipping line 91: expected 3 fields, saw 4
Skipping line 94: expected 3 fields, saw 5
Skipping line 96: expected 3 fields, saw 6
Skipping line 106: expected 3 fields, saw 4
Skipping line 109: expected 3 fields, saw 5
Skipping line 113: expected 3 fields, saw 7
Skipping line 116: expected 3 fields, saw 4
Skipping line 117: expected 3 fields, saw 4
Skipping line 127: expected 3 fields, saw 4
Skipping line 128: expected 3 fields, saw 5
Skipping line 130: expected 3 fields, saw 6
Skipping line 133: expected 3 fields, saw 5
Skipping line 136: expected 3 fields, saw 5
Skipping line 137: expected 3 fields, saw 5
Skipping line 139: expected 3 fields, saw 4
Skipping line 142: expected 3 fields, saw 4
Skipping line 143: expected 3 fields, saw 6
Skipping line 146: expected 3 fields, saw 6
Skipping line 149: expected 3 fields, saw 5
Skipping line 152: expected 3 fields, saw 4
Skipping line 153: expected 3 fields, saw 4
Skipping line 154: expected 3 fields, saw 6
Skipping line 155: expected 3 fields, saw 6
Skipping line 158: expected 3 fields, saw 5
Skipping line 161: expected 3 fields, saw 4
Skipping line 163: expected 3 fields, saw 5
Skipping line 165: expected 3 fields, saw 4
Skipping line 166: expected 3 fields, saw 6
Skipping line 169: expected 3 fields, saw 5
Skipping line 174: expected 3 fields, saw 6
Skipping line 177: expected 3 fields, saw 6
Skipping line 178: expected 3 fields, saw 5
Skipping line 181: expected 3 fields, saw 5
Skipping line 182: expected 3 fields, saw 4
Skipping line 184: expected 3 fields, saw 5
Skipping line 185: expected 3 fields, saw 5
Skipping line 190: expected 3 fields, saw 5
Skipping line 191: expected 3 fields, saw 5
Skipping line 192: expected 3 fields, saw 5
Skipping line 193: expected 3 fields, saw 4
Skipping line 199: expected 3 fields, saw 6
Skipping line 201: expected 3 fields, saw 5
Skipping line 205: expected 3 fields, saw 5
Skipping line 207: expected 3 fields, saw 4
Skipping line 210: expected 3 fields, saw 5
Skipping line 211: expected 3 fields, saw 4
Skipping line 212: expected 3 fields, saw 4
Skipping line 213: expected 3 fields, saw 6
Skipping line 214: expected 3 fields, saw 4
Skipping line 217: expected 3 fields, saw 5
Skipping line 218: expected 3 fields, saw 4
Skipping line 220: expected 3 fields, saw 5
Skipping line 227: expected 3 fields, saw 4
Skipping line 229: expected 3 fields, saw 4
Skipping line 231: expected 3 fields, saw 4
Skipping line 238: expected 3 fields, saw 4
Skipping line 239: expected 3 fields, saw 7
Skipping line 240: expected 3 fields, saw 5
Skipping line 242: expected 3 fields, saw 4
Skipping line 243: expected 3 fields, saw 5
Skipping line 249: expected 3 fields, saw 5
Skipping line 253: expected 3 fields, saw 4
Skipping line 256: expected 3 fields, saw 6
Skipping line 263: expected 3 fields, saw 4
Skipping line 264: expected 3 fields, saw 4
Skipping line 267: expected 3 fields, saw 4
Skipping line 268: expected 3 fields, saw 5
Skipping line 269: expected 3 fields, saw 4
Skipping line 271: expected 3 fields, saw 4
Skipping line 275: expected 3 fields, saw 5
Skipping line 278: expected 3 fields, saw 5
Skipping line 279: expected 3 fields, saw 6
Skipping line 281: expected 3 fields, saw 8
Skipping line 283: expected 3 fields, saw 4
Skipping line 286: expected 3 fields, saw 4
Skipping line 290: expected 3 fields, saw 4
Skipping line 293: expected 3 fields, saw 4
Skipping line 294: expected 3 fields, saw 4
Skipping line 297: expected 3 fields, saw 4
Skipping line 298: expected 3 fields, saw 4
Skipping line 300: expected 3 fields, saw 5
Skipping line 301: expected 3 fields, saw 4
Skipping line 304: expected 3 fields, saw 5
Skipping line 307: expected 3 fields, saw 5
Skipping line 311: expected 3 fields, saw 5
Skipping line 312: expected 3 fields, saw 4
Skipping line 313: expected 3 fields, saw 4
Skipping line 316: expected 3 fields, saw 5
Skipping line 317: expected 3 fields, saw 6
Skipping line 318: expected 3 fields, saw 5
Skipping line 319: expected 3 fields, saw 5
Skipping line 321: expected 3 fields, saw 5
Skipping line 323: expected 3 fields, saw 4
Skipping line 331: expected 3 fields, saw 6
Skipping line 332: expected 3 fields, saw 6
Skipping line 333: expected 3 fields, saw 4
Skipping line 334: expected 3 fields, saw 4
Skipping line 335: expected 3 fields, saw 5
Skipping line 337: expected 3 fields, saw 5
Skipping line 341: expected 3 fields, saw 7
Skipping line 344: expected 3 fields, saw 4
Skipping line 345: expected 3 fields, saw 5
Skipping line 348: expected 3 fields, saw 5
Skipping line 351: expected 3 fields, saw 4
Skipping line 353: expected 3 fields, saw 5
Skipping line 354: expected 3 fields, saw 4
Skipping line 357: expected 3 fields, saw 7

Let's verify that this worked by looking at the `head()` function.

In [37]:
# Your code here:

data.head()

                                                                                                      Name\tYear\tGroup\tStatus\tBirth Date\tBirth Place\tGender\tAlma Mater\tUndergraduate Major\tGraduate Major\tMilitary Rank\tMilitary Branch\tSpace Flights\tSpace Flight (hr)\tSpace Walks\tSpace Walks (hr)\tMissions\tDeath Date\tDeath Mission
Joseph M. Acaba\t2004.0\t19.0\tActive\t1967-05-...  CA\tMale\tUniversity of California-Santa Barba...                              ISS-31/32 (Soyuz)\t\t
Loren W. Acton\t\t\tRetired\t1936-03-07\tLewiston   MT\tMale\tMontana State University; University...                                                NaN
James C. Adamson\t1984.0\t10.0\tRetired\t1946-0...  NY\tMale\tUS Military Academy; Princeton Unive...                              STS-43 (Atlantis)\t\t
Buzz Aldrin\t1963.0\t3.0\tRetired\t1930-01-20\t...  NJ\tMale\tUS Military Academy; MIT\tMechanical...                                      Apollo 11\t\t
Joseph P. Allen\t1967.0\t6.0\tRetired\t1937-06-...  IN\tMale\tDePauw University; Yale University\t...                           STS 51-A (Discovery)\t\t

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [39]:
# Your code here:

shuttle = data.to_csv('shuttle.csv')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [42]:
# Your code here:
! pip install xlrd
data_excel = pd.read_excel('astronauts.xls')

Requirement already satisfied: xlrd in c:\users\user\anaconda3\lib\site-packages (2.0.1)

Use the `head()` function to inspect the dataframe.

In [43]:
# Your code here:

data_excel.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [44]:
# Your code here:

data_excel['Undergraduate Major'].value_counts()

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [47]:
# Your code here:
data_excel.to_csv('astronauts.csv', sep='\t', index=False)