# Import and Export Files

# Challenge 1 - Working with JSON files
Import the pandas library.

In [1]:
# your code here
import pandas as pd
import os
import xlrd

ModuleNotFoundError: No module named 'xlrd'

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [ ]:
# your code here
file_path = r'C:\Users\User\Downloads\lab-import-export\your-code\nasa.json'
df = pd.read_json(file_path)
df

Now that we have loaded the data, let's examine it using the head() function.

In [ ]:
# your code here
df.head()

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [ ]:
# your code here
df.value_counts('fall')

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [ ]:
# your code here
output_folder = 'data'
os.makedirs(output_folder, exist_ok=True)
output_file_path = os.path.join(output_folder, 'nasa-output.json')
df.to_json(output_file_path, orient='records', lines=True)

print(f'DataFrame has been saved to {output_file_path}')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [ ]:
#Your pandas import here:
print(os.getcwd())
import pandas as pd
import os

# Specify the correct path to your CSV file
file_path = r'C:\Users\User\Downloads\lab-import-export\your-code\astronaut.csv'  # Update this with the correct path

# Check if the file exists at the specified path
if os.path.exists(file_path):
    # Read the CSV file, skipping bad lines
    df = pd.read_csv(file_path, on_bad_lines='skip')

    # Display the DataFrame
    print(df)
else:
    print(f"File not found: {file_path}")

In [ ]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [ ]:
# Your code here:
# read the tst file to a variable called shuttle. Since the file does not contain the column names, 
#you must add them yourself using the column names declared in cols using the names argument. 
#Additionally, a tst file is space separated, make sure you pass  sep=' ' to the function.

shuttle = pd.read_csv(tst_url, sep=' ', names=cols)
print(shuttle)

Let's verify that this worked by looking at the `head()` function.

In [ ]:
# Your code here:
shuttle.head()

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [ ]:
# Your code here:
shuttle.to_csv('shuttle.csv', index=False)
print('DataFrame has been saved to shuttle.csv')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [3]:
!pip install --upgrade xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [5]:
# Your code here:
astronaut = pd.read_excel('astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [6]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [8]:
# Your code here:
astronaut.value_counts('Undergraduate Major')

Undergraduate Major
Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Marine Engineering & Nautical Science     1
Mathematical & Electrical Science         1
Biochemistry                              1
Mathematics & Economics                   1
Accounting                                1
Name: count, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [10]:
# Your code here:
astronaut.to_csv('astronaut.csv', sep='\t', index=False)