# Import and Export Files

# Challenge 1 - Working with JSON files
Import the pandas library.

In [1]:
# your code here
import pandas as pd

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [2]:
# your code here
data_nasa_doc = pd.read_json('nasa.json')
print(data_nasa_doc)

     :@computed_region_cbhk_fwbd  :@computed_region_nnqa_25f4  fall  \
0                            NaN                          NaN  Fell
1                            NaN                          NaN  Fell
2                            NaN                          NaN  Fell
3                            NaN                          NaN  Fell
4                            NaN                          NaN  Fell
..                           ...                          ...   ...
995                          NaN                          NaN  Fell
996                          NaN                          NaN  Fell
997                          NaN                          NaN  Fell
998                          NaN                          NaN  Fell
999                          NaN                          NaN  Fell

                                           geolocation     id      mass  \
0    {'type': 'Point', 'coordinates': [6.08333, 50....      1      21.0
1    {'type': 'Point', 'coordinates': [10.23333, 56...      2     720.0
2    {'type': 'Point', 'coordinates': [-113, 54.216...      6  107000.0
3    {'type': 'Point', 'coordinates': [-99.9, 16.88...     10    1914.0
4    {'type': 'Point', 'coordinates': [-64.95, -33....    370     780.0
..                                                 ...    ...       ...
995  {'type': 'Point', 'coordinates': [79.41667, 13...  24009     230.0
996  {'type': 'Point', 'coordinates': [-7.61123, 29...  54823    7000.0
997  {'type': 'Point', 'coordinates': [111.53333, -...  24011   20000.0
998  {'type': 'Point', 'coordinates': [106.58333, -...  24012   16500.0
999  {'type': 'Point', 'coordinates': [34.76667, 47...  24019     600.0

          name nametype               recclass    reclat    reclong  \
0       Aachen    Valid                     L5  50.77500    6.08333
1       Aarhus    Valid                     H6  56.18333   10.23333
2         Abee    Valid                    EH4  54.21667 -113.00000
3     Acapulco    Valid            Acapulcoite  16.88333  -99.90000
4      Achiras    Valid                     L6 -33.16667  -64.95000
..         ...      ...                    ...       ...        ...
995   Tirupati    Valid                     H6  13.63333   79.41667
996    Tissint    Valid  Martian (shergottite)  29.48195   -7.61123
997      Tjabe    Valid                     H6  -7.08333  111.53333
998   Tjerebon    Valid                     L5  -6.66667  106.58333
999  Tomakovka    Valid                    LL6  47.85000   34.76667

                        year
0    1880-01-01T00:00:00.000
1    1951-01-01T00:00:00.000
2    1952-01-01T00:00:00.000
3    1976-01-01T00:00:00.000
4    1902-01-01T00:00:00.000
..                       ...
995  1934-01-01T00:00:00.000
996  2011-01-01T00:00:00.000
997  1869-01-01T00:00:00.000
998  1922-01-01T00:00:00.000
999  1905-01-01T00:00:00.000

[1000 rows x 12 columns]

Now that we have loaded the data, let's examine it using the head() function.

In [3]:
# your code here
nasa_df = pd.DataFrame(data_nasa_doc)
print(nasa_df)

     :@computed_region_cbhk_fwbd  :@computed_region_nnqa_25f4  fall  \
0                            NaN                          NaN  Fell
1                            NaN                          NaN  Fell
2                            NaN                          NaN  Fell
3                            NaN                          NaN  Fell
4                            NaN                          NaN  Fell
..                           ...                          ...   ...
995                          NaN                          NaN  Fell
996                          NaN                          NaN  Fell
997                          NaN                          NaN  Fell
998                          NaN                          NaN  Fell
999                          NaN                          NaN  Fell

                                           geolocation     id      mass  \
0    {'type': 'Point', 'coordinates': [6.08333, 50....      1      21.0
1    {'type': 'Point', 'coordinates': [10.23333, 56...      2     720.0
2    {'type': 'Point', 'coordinates': [-113, 54.216...      6  107000.0
3    {'type': 'Point', 'coordinates': [-99.9, 16.88...     10    1914.0
4    {'type': 'Point', 'coordinates': [-64.95, -33....    370     780.0
..                                                 ...    ...       ...
995  {'type': 'Point', 'coordinates': [79.41667, 13...  24009     230.0
996  {'type': 'Point', 'coordinates': [-7.61123, 29...  54823    7000.0
997  {'type': 'Point', 'coordinates': [111.53333, -...  24011   20000.0
998  {'type': 'Point', 'coordinates': [106.58333, -...  24012   16500.0
999  {'type': 'Point', 'coordinates': [34.76667, 47...  24019     600.0

          name nametype               recclass    reclat    reclong  \
0       Aachen    Valid                     L5  50.77500    6.08333
1       Aarhus    Valid                     H6  56.18333   10.23333
2         Abee    Valid                    EH4  54.21667 -113.00000
3     Acapulco    Valid            Acapulcoite  16.88333  -99.90000
4      Achiras    Valid                     L6 -33.16667  -64.95000
..         ...      ...                    ...       ...        ...
995   Tirupati    Valid                     H6  13.63333   79.41667
996    Tissint    Valid  Martian (shergottite)  29.48195   -7.61123
997      Tjabe    Valid                     H6  -7.08333  111.53333
998   Tjerebon    Valid                     L5  -6.66667  106.58333
999  Tomakovka    Valid                    LL6  47.85000   34.76667

                        year
0    1880-01-01T00:00:00.000
1    1951-01-01T00:00:00.000
2    1952-01-01T00:00:00.000
3    1976-01-01T00:00:00.000
4    1902-01-01T00:00:00.000
..                       ...
995  1934-01-01T00:00:00.000
996  2011-01-01T00:00:00.000
997  1869-01-01T00:00:00.000
998  1922-01-01T00:00:00.000
999  1905-01-01T00:00:00.000

[1000 rows x 12 columns]

In [4]:
nasa_df.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [5]:
# your code here
landing_frequencies = nasa_df['fall'].value_counts() #each unique value in the 'fall' column of the nasa data frame.
print(landing_frequencies)

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [17]:
# your code here - # Continue from here 
file_path = '/Users/amandine/Desktop/Ironhack/02_Week/lab-import-export/your-code/nasa_df.json'
nasa_df.to_json(file_path, orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [28]:
#Your pandas import here:
import pandas as pd

data_astronaut_doc = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst')
print(data_astronaut_doc)

          55 0 81 0 -6 11 25 88 64 4
0          56 0 96 0 52 -4 40 44 4 4
1         50 -1 89 -7 50 0 39 40 2 1
2         53 9 79 0 42 -2 25 37 12 4
3          55 2 82 0 54 -6 26 28 2 1
4          41 0 84 3 38 -4 43 45 2 1
...                              ...
14494  80 0 84 0 -36 -29 4 120 116 5
14495   55 0 81 0 -20 25 26 102 76 4
14496    55 0 77 0 12 -22 22 65 42 4
14497   37 0 103 0 18 -16 66 85 20 1
14498       56 2 98 0 52 1 42 46 4 4

[14499 rows x 1 columns]

In [30]:
# Run this code:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

shuttle = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst', sep=' ', names=cols)
print(shuttle)

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2
..   ...       ...        ...       ...   ...     ...        ...       ...
80     0        84          0       -36   -29       4        120       116
55     0        81          0       -20    25      26        102        76
55     0        77          0        12   -22      22         65        42
37     0       103          0        18   -16      66         85        20
56     2        98          0        52     1      42         46         4

    class
55      4
56      4
50      1
53      4
55      1
..    ...
80      5
55      4
55      4
37      1
56      4

[14500 rows x 9 columns]

In [47]:
# Your code here:
data_astronaut_doc = pd.read_csv('astronaut.csv', sep='\t')
print(data_astronaut_doc)

# Notes : Verify Delimiters to avoid reading errors :
# In this case, the values "John," "Doe," "30," and "New York" are separated by tab characters. 
# To correctly read such a file, you need to specify sep='\t' so that pandas knows to split the data using 
# tabs as delimiters.

#The sep parameter in the pd.read_csv() function allows you to customize the delimiter to match 
# the format of your specific CSV file. It can be set to various characters or sequences, including commas (,), 
# tabs (\t), semicolons (;), or any other character that separates the values in your file.

                      Name    Year  Group   Status  Birth Date  \
0          Joseph M. Acaba  2004.0   19.0   Active  1967-05-17
1           Loren W. Acton     NaN    NaN  Retired  1936-03-07
2         James C. Adamson  1984.0   10.0  Retired  1946-03-03
3          Thomas D. Akers  1987.0   12.0  Retired  1951-05-20
4              Buzz Aldrin  1963.0    3.0  Retired  1930-01-20
..                     ...     ...    ...      ...         ...
352          David A. Wolf  1990.0   13.0  Retired  1956-08-23
353  Neil W. Woodward III   1998.0   17.0  Retired  1962-07-26
354       Alfred M. Worden  1966.0    5.0  Retired  1932-02-07
355          John W. Young  1962.0    2.0  Retired  1930-09-24
356        George D. Zamka  1998.0   17.0  Retired  1962-06-29

           Birth Place Gender  \
0        Inglewood, CA   Male
1         Lewiston, MT   Male
2           Warsaw, NY   Male
3        St. Louis, MO   Male
4        Montclair, NJ   Male
..                 ...    ...
352   Indianapolis, IN   Male
353        Chicago, IL   Male
354        Jackson, MI   Male
355  San Francisco, CA   Male
356    Jersey City, NJ   Male

                                            Alma Mater  \
0    University of California-Santa Barbara; Univer...
1     Montana State University; University of Colorado
2            US Military Academy; Princeton University
3                         University of Missouri-Rolla
4                             US Military Academy; MIT
..                                                 ...
352              Purdue University; Indiana University
353  MIT; University of Texas-Austin; George Washin...
354        US Military Academy; University of Michigan
355                    Georgia Institute of Technology
356  US Naval Academy; Florida Institute of Technology

          Undergraduate Major                            Graduate Major  \
0                     Geology                                   Geology
1         Engineering Physics                             Solar Physics
2                 Engineering                     Aerospace Engineering
3         Applied Mathematics                       Applied Mathematics
4      Mechanical Engineering                              Astronautics
..                        ...                                       ...
352    Electrical Engineering                                  Medicine
353                   Physics              Physics; Business Management
354          Military Science  Aeronautical & Astronautical Engineering
355  Aeronautical Engineering                                       NaN
356               Mathematics                    Engineering Management

    Military Rank            Military Branch  Space Flights  \
0             NaN                        NaN              2
1             NaN                        NaN              1
2         Colonel          US Army (Retired)              2
3         Colonel     US Air Force (Retired)              4
4         Colonel     US Air Force (Retired)              2
..            ...                        ...            ...
352           NaN                        NaN              3
353     Commander                    US Navy              0
354       Colonel     US Air Force (Retired)              1
355       Captain          US Navy (Retired)              6
356       Colonel  US Marine Corps (Retired)              2

     Space Flight (hr)  Space Walks  Space Walks (hr)  \
0                 3307            2              13.0
1                  190            0               0.0
2                  334            0               0.0
3                  814            4              29.0
4                  289            2               8.0
..                 ...          ...               ...
352               4044            7              41.0
353                  0            0               0.0
354                295            1               0.5
355                835            3              20.0
356                692            0               0.0

                                              Missions Death Date  \
0               STS-119 (Discovery), ISS-31/32 (Soyuz)        NaN
1                                STS 51-F (Challenger)        NaN
2                 STS-28 (Columbia), STS-43 (Atlantis)        NaN
3    STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaN
4                                 Gemini 12, Apollo 11        NaN
..                                                 ...        ...
352  STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...        NaN
353                                                NaN        NaN
354                                          Apollo 15        NaN
355  Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...        NaN
356            STS-120 (Discovery), STS-130 (Endeavor)        NaN

    Death Mission
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
352           NaN
353           NaN
354           NaN
355           NaN
356           NaN

[357 rows x 19 columns]

Let's verify that this worked by looking at the `head()` function.

In [31]:
# Your code here:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [32]:
# Your code here:
shuttle.to_csv('shuttle.csv', index=False)
file_path = '/Users/amandine/Desktop/Ironhack/02_Week/lab-import-export/your-code/shuttle.csv'

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [39]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/amandine/anaconda3/lib/python3.10/site-packages (2.0.1)

In [43]:
# Your code here:
astronaut = pd.read_excel('astronauts.xls')
print(astronaut)

                      Name    Year  Group   Status Birth Date  \
0          Joseph M. Acaba  2004.0   19.0   Active 1967-05-17
1           Loren W. Acton     NaN    NaN  Retired 1936-03-07
2         James C. Adamson  1984.0   10.0  Retired 1946-03-03
3          Thomas D. Akers  1987.0   12.0  Retired 1951-05-20
4              Buzz Aldrin  1963.0    3.0  Retired 1930-01-20
..                     ...     ...    ...      ...        ...
352          David A. Wolf  1990.0   13.0  Retired 1956-08-23
353  Neil W. Woodward III   1998.0   17.0  Retired 1962-07-26
354       Alfred M. Worden  1966.0    5.0  Retired 1932-02-07
355          John W. Young  1962.0    2.0  Retired 1930-09-24
356        George D. Zamka  1998.0   17.0  Retired 1962-06-29

           Birth Place Gender  \
0        Inglewood, CA   Male
1         Lewiston, MT   Male
2           Warsaw, NY   Male
3        St. Louis, MO   Male
4        Montclair, NJ   Male
..                 ...    ...
352   Indianapolis, IN   Male
353        Chicago, IL   Male
354        Jackson, MI   Male
355  San Francisco, CA   Male
356    Jersey City, NJ   Male

                                            Alma Mater  \
0    University of California-Santa Barbara; Univer...
1     Montana State University; University of Colorado
2            US Military Academy; Princeton University
3                         University of Missouri-Rolla
4                             US Military Academy; MIT
..                                                 ...
352              Purdue University; Indiana University
353  MIT; University of Texas-Austin; George Washin...
354        US Military Academy; University of Michigan
355                    Georgia Institute of Technology
356  US Naval Academy; Florida Institute of Technology

          Undergraduate Major                            Graduate Major  \
0                     Geology                                   Geology
1         Engineering Physics                             Solar Physics
2                 Engineering                     Aerospace Engineering
3         Applied Mathematics                       Applied Mathematics
4      Mechanical Engineering                              Astronautics
..                        ...                                       ...
352    Electrical Engineering                                  Medicine
353                   Physics              Physics; Business Management
354          Military Science  Aeronautical & Astronautical Engineering
355  Aeronautical Engineering                                       NaN
356               Mathematics                    Engineering Management

    Military Rank            Military Branch  Space Flights  \
0             NaN                        NaN              2
1             NaN                        NaN              1
2         Colonel          US Army (Retired)              2
3         Colonel     US Air Force (Retired)              4
4         Colonel     US Air Force (Retired)              2
..            ...                        ...            ...
352           NaN                        NaN              3
353     Commander                    US Navy              0
354       Colonel     US Air Force (Retired)              1
355       Captain          US Navy (Retired)              6
356       Colonel  US Marine Corps (Retired)              2

     Space Flight (hr)  Space Walks  Space Walks (hr)  \
0                 3307            2              13.0
1                  190            0               0.0
2                  334            0               0.0
3                  814            4              29.0
4                  289            2               8.0
..                 ...          ...               ...
352               4044            7              41.0
353                  0            0               0.0
354                295            1               0.5
355                835            3              20.0
356                692            0               0.0

                                              Missions Death Date  \
0               STS-119 (Discovery), ISS-31/32 (Soyuz)        NaT
1                                STS 51-F (Challenger)        NaT
2                 STS-28 (Columbia), STS-43 (Atlantis)        NaT
3    STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaT
4                                 Gemini 12, Apollo 11        NaT
..                                                 ...        ...
352  STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...        NaT
353                                                NaN        NaT
354                                          Apollo 15        NaT
355  Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...        NaT
356            STS-120 (Discovery), STS-130 (Endeavor)        NaT

    Death Mission
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
352           NaN
353           NaN
354           NaN
355           NaN
356           NaN

[357 rows x 19 columns]

Use the `head()` function to inspect the dataframe.

In [44]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [66]:
# Your code here:
undergraduate_major  = astronaut['Undergraduate Major'].value_counts() 
print(undergraduate_major)

most_popular_undergraduate_major = undergraduate_major.idxmax() #idxmax = gives the name of the most popular one
most_popular_undergraduate_major_count = undergraduate_major.max()
print(f"Most popular major is: {most_popular_undergraduate_major} with {most_popular_undergraduate_major_count} astronauts who choose it.")

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64
Most popular major is: Physics with 35 astronauts who choose it.

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [67]:
# Your code here:
astronaut.to_csv('astronaut.csv', sep='\t', index=False)

In [70]:
with open('astronaut.csv') as file:
    content = file.read()
    print(content)

Name	Year	Group	Status	Birth Date	Birth Place	Gender	Alma Mater	Undergraduate Major	Graduate Major	Military Rank	Military Branch	Space Flights	Space Flight (hr)	Space Walks	Space Walks (hr)	Missions	Death Date	Death Mission
Joseph M. Acaba	2004.0	19.0	Active	1967-05-17	Inglewood, CA	Male	University of California-Santa Barbara; University of Arizona	Geology	Geology			2	3307	2	13.0	STS-119 (Discovery), ISS-31/32 (Soyuz)
Loren W. Acton			Retired	1936-03-07	Lewiston, MT	Male	Montana State University; University of Colorado	Engineering Physics	Solar Physics			1	190	0	0.0	STS 51-F (Challenger)
James C. Adamson	1984.0	10.0	Retired	1946-03-03	Warsaw, NY	Male	US Military Academy; Princeton University	Engineering	Aerospace Engineering	Colonel	US Army (Retired)	2	334	0	0.0	STS-28 (Columbia), STS-43 (Atlantis)
Thomas D. Akers	1987.0	12.0	Retired	1951-05-20	St. Louis, MO	Male	University of Missouri-Rolla	Applied Mathematics	Applied Mathematics	Colonel	US Air Force (Retired)	4	814	4	29.0	STS-41 (Discovery), STS-49 (Endeavor), STS-61 (Endeavor), STS-79 (Atlantis)
Buzz Aldrin	1963.0	3.0	Retired	1930-01-20	Montclair, NJ	Male	US Military Academy; MIT	Mechanical Engineering	Astronautics	Colonel	US Air Force (Retired)	2	289	2	8.0	Gemini 12, Apollo 11
Andrew M. Allen	1987.0	12.0	Retired	1955-08-04	Philadelphia, PA	Male	Villanova University; University of Florida	Mechanical Engineering	Business Administration	Lieutenant Colonel	US Marine Corps (Retired)	3	906	0	0.0	STS-46 (Atlantis), STS-62 (Columbia), STS-75 (Columbia)
Joseph P. Allen	1967.0	6.0	Retired	1937-06-27	Crawsfordsville, IN	Male	DePauw University; Yale University	Mathematics & Physics	Physics			2	313	2	12.0	ST-5 (Columbia), STS 51-A (Discovery)
Scott D. Altman	1995.0	15.0	Retired	1959-08-15	Lincoln, IL	Male	University of Illinois; US Naval Postgraduate School	Aeronautical & Astronautical Engineering	Aeronautical Engineering	Captain	US Navy (Retired)	4	1236	0	0.0	STS-90 (Columbia), STS-106 (Atlantis), STS-109 (Columbia), STS-125 (Atlantis)
William A. Anders	1963.0	3.0	Retired	1933-10-17	Hong Kong	Male	US Naval Academy; Air Force Institute of Technology	Nuclear Engineering	Nuclear Engineering	Major General	US Air Force Reserves (Retired)	1	147	0	0.0	Apollo 8
Clayton C. Anderson	1998.0	17.0	Retired	1959-02-23	Omaha, NE	Male	Hastings College; Iowa State University	Physics	Aerospace Engineering			2	4005	6	38.0	STS-117/120 (Atlantis/Discovery), STS-131 (Discovery)
Michael P. Anderson	1995.0	15.0	Deceased	1959-12-25	Plattsburgh, NY	Male	University of Washington; Creighton University	Physics & Astronomy	Physics	Lieutenant Colonel	US Air Force	2	594	0	0.0	STS-89 (Endeavor), STS-107 (Columbia)	2003-02-01	STS-107 (Columbia)
Dominic A. Antonelli	2000.0	18.0	Active	1967-08-23	Detroit, MI	Male	MIT; University of Washington	Aeronautics & Astronautics	Aeronautics & Astronautics	Commander	US Navy	2	579	0	0.0	STS-119 (Discovery), STS-132 (Atlantis)
Jerome Apt III 	1985.0	11.0	Retired	1949-04-18	Springfield, MA	Male	Harvard University; MIT	Physics	Physics			4	847	2	11.0	STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (Endeavor), STS-79 (Atlantis)
Lee J. Archambault	1998.0	17.0	Retired	1960-08-25	Oak Park, IL	Male	University of Illinois-Urbana	Aeronautical & Astronautical Engineering	Aeronautical & Astronautical Engineering	Colonel	US Air Force	2	639	0	0.0	STS-117 (Atlantis), STS-119 (Discovery)
Neil A. Armstrong	1962.0	2.0	Deceased	1930-08-05	Wapakoneta, OH	Male	Purdue University; University of Southern California	Aeronautical Engineering	Aerospace Engineering			2	205	1	2.0	Gemini 8, Apollo 11	2012-08-25
Richard R. Arnold II 	2004.0	19.0	Active	1963-11-26	Cheverly, MD	Male	Frostburg State University; University of Maryland	Accounting	Environmental Science			1	307	2	12.0	STS-119 (Discovery)
Jeffrey S. Ashby	1995.0	15.0	Retired	1954-06-01	Dallas, TX	Male	University of Idaho; University of Tennessee	Mechanical Engineering	Aviation Systems	Captain	US Navy (Retired)	3	655	0	0.0	STS-93 (Columbia), STS-100 (Endeavor), STS-112 (Atlantis)
Serena M. Aunon	2009.0	20.0	Active	1976-04-09	Indianapolis, IN	Female	George Washington University; University of Texas	Electrical Engineering	Medicine			0	0	0	0.0
James P. Bagian	1980.0	9.0	Retired	1952-02-22	Philadelphia, PA	Male	Drexel University; Thomas Jefferson University	Mechanical Engineering	Medicine			2	337	0	0.0	STS-29 (Discovery), STS-40 (Columbia)
Ellen S. Baker	1984.0	10.0	Retired	1953-04-27	Fayettesville, NC	Female	State University of New York-Buffalo; Cornell University; University of Texas	Geology	Medicine; Public Health			3	686	0	0.0	STS-34 (Atlantis), STS-50 (Columbia), STS-71 (Atlantis)
Michael A. Baker	1985.0	11.0	Management	1953-10-27	Memphis, TN	Male	University of Texas	Aerospace Engineering		Captain	US Navy (Retired)	4	965	0	0.0	STS-43 (Atlantis), STS-52 (Columbia), STS-68 (Endeavor), STS-81 (Atlantis)
Michael R. Barratt	2000.0	18.0	Active	1959-04-16	Vancouver, WA	Male	University of Washington; Northwestern University; Wright State University	Zoology	Medicine; Aerospace Medicine			2	5075	1	5.0	ISS-19/20 (Soyuz), STS-133 (Discovery)
Daniel T. Barry	1992.0	14.0	Retired	1953-12-30	Norwalk, CT	Male	Cornell University; Princeton University; University of Miami	Electrical Engineering	Electrical Engineering; Computer Science; Medicine			3	733	4	26.0	STS-72 (Endeavor), STS-96 (Discovery), STS-105 (Discovery)
John-David F. Bartoe			Retired	1944-11-17	Abington, PA	Male	Lehigh University; Georgetown University	Physics	Physics			1	190	0	0.0	STS 51-F (Challenger)
Charles A. Bassett II 	1963.0	3.0	Deceased	1931-12-30	Dayton, OH	Male	Texas Technological College	Electrical Engineering		Captain	US Air Force	0	0	0	0.0		1966-02-28
Alan L. Bean	1963.0	3.0	Retired	1932-03-15	Wheeler, TX	Male	University of Texas	Aeronautical Engineering		Captain	US Navy (Retired)	2	1671	3	10.0	Apollo 12, Skylab 3
Robert L. Behnken	2000.0	18.0	Active	1970-07-28	Creve Couer, MO	Male	Washington University; California Institute of Technology	Physics & Mechanical Engineering	Mechanical Engineering	Colonel	US Air Force	2	708	6	37.0	STS-123 (Endeavor), STS-130 (Endeavor)
John E. Blaha	1980.0	9.0	Retired	1942-08-26	San Antonio, TX	Male	US Air Force Academy; Purdue University	Engineering Science	Astronautical Engineering	Colonel	US Air Force (Retired)	5	3861	0	0.0	STS-29 (Discovery), STS-33 (Discovery), STS-43 (Atlantis), STS-58 (Columbia), STS-79/81 (Atlantis/Atlantis)
Michael J. Bloomfield	1995.0	15.0	Retired	1959-03-16	Flint, MI	Male	US Air Force Academy; Old Dominion University	Engineering Mechanics	Engineering Management	Colonel	US Air Force (Retired)	3	779	0	0.0	STS-86 (Atlantis), STS-97 (Endeavor), STS-110 (Atlantis)
Guion S. Bluford Jr. 	1978.0	8.0	Retired	1942-11-22	Philadelphia, PA	Male	Pennsylvania State University; Air Force Institute of Technology; University of Houston-Clear Lake	Aerospace Engineering	Aerospace Engineering; Business Administration	Colonel	US Air Force (Retired)	4	689	0	0.0	STS-8 (Challenger), STS 61-A (Challenger), STS-39 (Discovery), STS-53 (Discovery)
Karol J. Bobko	1969.0	7.0	Retired	1937-12-23	New York, NY	Male	US Air Force Academy; University of Southern California		Aerospace Engineering	Colonel	US Air Force (Retired)	3	386	0	0.0	STS-6 (Challenger), STS 51-D (Discovery), STS-51-J (Atlantis)
Eric A. Boe	2000.0	18.0	Active	1964-10-01	Miami, FL	Male	US Air Force Academy; Georgia Institute of Technology	Aeronautical Engineering	Electrical Engineering	Colonel	US Air Force	2	687	0	0.0	STS-126 (Endeavor), STS-133 (Discovery)
Charles F. Bolden Jr. 	1980.0	9.0	Management	1946-08-19	Columbia, SC	Male	US Naval Academy; University of Southern California	Electrical Science	Systems Management	Major General	US Marine Corps (Retired)	4	680	0	0.0	STS-61C (Columbia), STS-31 (Discovery), STS-45 (Atlantis), STS-60 (Discovery)
Frank Borman	1962.0	2.0	Retired	1928-03-14	Gary, IN	Male	US Military Academy; California Institute of Technology		Aeronautical Engineering	Colonel	US Air Force (Retired)	2	477	0	0.0	Gemini 7, Apollo 8
Stephen G. Bowen	2000.0	18.0	Active	1964-02-13	Cohasset, MA	Male	US Naval Academy; MIT	Electrical Engineering	Ocean Engineering	Captain	US Navy	3	970	7	47.0	STS-126 (Endeavor), STS-132 (Atlantis), STS-133 (Discovery)
Kenneth D. Bowersox	1987.0	12.0	Retired	1956-11-14	Portsmouth, VA	Male	US Naval Academy; Columbia University	Aerospace Engineering	Mechanical Engineering	Captain	US Navy (Retired)	5	5078	2	13.0	STS-50 (Columbia), STS-61 (Endeavor), STS-73 (Columbia), STS-82 (Discovery), STS-113 (Endeavor/Soyuz)
Charles E. Brady Jr. 	1992.0	14.0	Deceased	1951-08-12	Pinehurst, NC	Male	University of North Carolina at Chapel Hill; Duke University		Medicine	Captain	US Navy	1	405	0	0.0	STS-78 (Columbia)	2006-07-23
Vance D. Brand	1966.0	5.0	Retired	1931-05-09	Longmont, CA	Male	University of Colorado; University of California Los Angeles	Business Management; Aeronautical Engineering	Business Administration		US Marine Corps Reserves	4	752	0	0.0	Apollo-Soyuz Test Project, STS-5 (Columbia), STS 41-B (Challenger), STS-35 (Columbia)
Daniel C. Brandenstein	1978.0	8.0	Retired	1943-01-17	Watertown, WI	Male	University of Wisconsin	Mathematics & Physics		Captain	US Navy (Retired)	4	789	0	0.0	STS-8 (Challenger), STS 51-G (Discovery), STS-32 (Columbia), STS-49 (Endeavor)
Randolph J. Bresnik	2004.0	19.0	Active	1967-09-11	Fort Knox, KY	Male	The Citadel; University of Tennessee-Knoxville	Mathematics	Aviation Systems	Colonel	US Marine Corps	1	259	2	12.0	STS-129 (Atlantis)
Roy D. Bridges Jr. 	1980.0	9.0	Retired	1943-07-19	Atlanta, GA	Male	US Air Force Academy; Purdue University	Engineering Science	Astronautics	Major General	US Air Force (Retired)	1	190	0	0.0	STS 51-F (Challenger)
Curtis L. Brown Jr. 	1987.0	12.0	Retired	1956-03-11	Elizabethtown, NC	Male	US Air Force Academy	Electrical Engineering		Colonel	US Air Force (Retired)	6	1383	0	0.0	STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (Endeavor), STS-85 (Discovery), STS-95 (Discovery), STS-103 (Discovery)
David M. Brown	1996.0	16.0	Deceased	1956-04-16	Arlington, VA	Male	College of William & Mary; Eastern Virginia Medical School	Biology	Medicine	Captain	US Navy	1	382	0	0.0	STS-107 (Columbia)	2003-02-01	STS-107 (Columbia)
Mark N. Brown	1984.0	10.0	Retired	1951-11-18	Valparaiso, IN	Male	Purdue University; Air Force Institute of Technology	Aeronautical & Astronautical Engineering	Astronautical Engineering	Colonel	US Air Force (Retired)	2	249	0	0.0	STS 28 (Columbia), STS-48 (Discovery)
James F. Buchli	1978.0	8.0	Retired	1945-06-20	New Rockford, ND	Male	US Naval Academy; University of West Florida	Aeronautical Engineering	Aeronautical Engineering Systems	Colonel	US Marine Corps (Retired)	4	490	0	0.0	STS 51-C (Discovery), STS 61-A (Challenger), STS-29 (Discovery), STS-48 (Discovery
Jay Clark Buckey			Retired	1956-06-06	New York, NY	Male	Cornell University	Electrical Engineering	Medicine			1	381	0	0.0	STS-90 (Columbia)
John S. Bull	1966.0	5.0	Deceased	1934-09-25	Memphis, TN	Male	Rice University; Stanford University	Mechanical Engineering	Aeronautical Engineering			0	0	0	0.0		2008-08-11
Daniel C. Burbank	1996.0	16.0	Active	1961-07-27	Machester, CT	Male	US Coast Guard Academy; Embry-Riddle Aeronautical University	Electrical Engineering	Aeronautical Science	Captain	US Coast Guard (Retired)	3	4512	1	7.0	STS-106 (Atlantis), STS-115 (Atlantis), ISS-29/30 (Soyuz)
Daniel W. Bursch	1990.0	13.0	Retired	1957-07-25	Bristol, PA	Male	US Naval Academy; US Naval Postgraduate School	Physics	Engineering Science	Captain	US Navy (Retired)	4	5446	2	12.0	STS-51 (Discovery), STS-68 (Endeavor), STS-77 (Endeavor), STS-108/111 (Endeavor)
Robert D. Cabana	1985.0	11.0	Management	1949-01-23	Minneapolis, MN	Male	US Naval Academy	Mathematics		Colonel	US Marine Corps (Retired)	4	910	0	0.0	STS-41 (Discovery), STS-53 (Discovery), STS-65 (Columbia), STS-88 (Endeavor)
Yvonne D. Cagle	1996.0	16.0	Management	1959-04-24	West Point, NY	Female	San Francisco State University	Biochemistry		Colonel	US Air Force	0	0	0	0.0
Fernando Caldeiro	1996.0	16.0	Deceased	1958-06-12	Buenos Aires, Argentina	Male	University of Arizona; University of Central Florida	Mechanical Engineering	Engineering Management			0	0	0	0.0		2009-10-03
Tracy E. Caldwell (Dyson)	1998.0	17.0	Active	1969-08-14	Arcadia, CA	Female	California State University-Fullerton; University of California-Davis	Chemistry	Physical Chemistry			2	4531	3	23.0	STS-118 (Endeavor), ISS-23/24 (Soyuz)
Charles J. Camarda	1996.0	16.0	Management	1952-05-08	Queens, NY	Male	Polytechnic Institute of Brooklyn; George Washington University; Virginia Polytechnic Institute	Aerospace Engineering	Engineering Science; Aerospace Engineering			1	333	0	0.0	STS-114 (Discovery)
Kenneth D. Cameron	1984.0	10.0	Retired	1949-11-29	Cleveland, OH	Male	MIT; Michigan State University	Aeronautics & Astronautics	Aeronautics & Astronautics; Business Administration	Colonel	US Marine Corps (Retired)	3	562	0	0.0	STS-37 (Atlantis), STS-56 (Discovery), STS-74 (Atlantis)
Duane G. Carey	1996.0	16.0	Retired	1957-04-30	St. Paul, MN	Male	University of Minnesota-Minneapolis	Aerospace Engineering & Mechanics	Aerospace Engineering	Lieutenant Colonel	US Air Force (Retired)	1	262	0	0.0	STS-109 (Columbia)
M. Scott Carpenter	1959.0	1.0	Retired	1925-05-01	Boulder, CO	Male	University of Colorado	Aeronautical Engineering		Commander	US Navy (Retired)	1	4	0	0.0	Mercury 7
Gerald P. Carr	1966.0	5.0	Retired	1932-08-22	Denver, CO	Male	University of Southern California; US Naval Postgraduate School; Princeton University	Mechanical Engineering	Aeronautical Engineering	Colonel	US Marine Corps (Retired)	1	2017	3	16.0	Skylab 4
Manley Lanier Carter Jr. 	1984.0	10.0	Deceased	1947-08-15	Macon, GA	Male	Emory University	Chemistry	Medicine	Captain	US Navy	1	120	0	0.0	STS-33 (Discovery)	1991-04-05
John H. Casper	1984.0	10.0	Management	1943-07-09	Greenville, SC	Male	US Air Force Academy; Purdue University	Engineering Science	Astronautics	Colonel	US Air Force (Retired)	4	825	0	0.0	STS-36 (Atlantis), STS-54 (Endeavor), STS-62 (Columbia), STS-77 (Endeavor)
Christopher J. Cassidy	2004.0	19.0	Active	1970-01-04	Salem, MA	Male	US Naval Academy; MIT	Mathematics	Ocean Engineering	Commander	US Navy	1	4376	6	31.0	STS-127 (Endeavor); ISS-35/36 (Soyuz)
Robert Cenker			Retired	1948-11-05	Uniontown, PA	Male	Pennsylvania State University; Rutgers University	Aerospace Engineering	Aerospace Engineering; Electrical Engineering			1	146	0	0.0	STS 61-C (Columbia)
Eugene A. Cernan	1963.0	3.0	Retired	1934-03-14	Chicago, IL	Male	Purdue University; US Naval Postgraduate School	Electrical Engineering	Aeronautical Engineering	Captain	US Navy (Retired)	3	566	4	24.0	Gemini 9, Apollo 10, Apollo 17
Roger B. Chaffee	1963.0	3.0	Deceased	1935-02-15	Grand Rapids, MI	Male	Purdue University	Aeronautical Engineering		Lieutenant Commander	US Navy	1	0	0	0.0	Apollo 1	1967-01-27	Apollo 1
Gregory E. Chamitoff	1998.0	17.0	Active	1962-08-06	Montreal, Canada	Male	California Polytechnic State University; California Institute of Technology; MIT	Electrical Engineering	Aeronautical Engineering; Aeronautics & Astronautics			2	4770	2	13.0	STS-124/126 (Discovery/Endeavor), STS-134 (Endeavor)
Franklin R. Chang-Diaz	1980.0	9.0	Retired	1950-04-05	San Jose, Costa Rica	Male	University of Connecticut; MIT	Mechanical Engineering	Applied Plasma Physics			7	1602	3	19.0	STS 61-C (Columbia), STS-34 (Atlantis), STS-46 (Atlantis), STS-60 (Discovery), STS-75 (Columbia), STS-91 (Discovery), STS-111 (Endeavor)
Philip K. Chapman	1967.0	6.0	Retired	1935-03-05	Melbourne, Australia	Male	University of Sydney; MIT	Physics & Mathematics	Aeronautics & Astronautics; Instrumentation			0	0	0	0.0
Kalpana Chawla	1995.0	15.0	Deceased	1961-06-01	Karnal, India	Female	Punjab Engineering College; University of Texas-Arlington; University of Colorado	Aeronautical Engineering	Aerospace Engineering			2	734	0	0.0	STS-87 (Columbia), STS-107 (Columbia)	2003-02-01	STS-107 (Columbia)
Leroy Chiao	1990.0	13.0	Retired	1960-08-28	Milwaukee, WI	Male	University of California-Berkeley; University of California-Santa Barbara	Chemical Engineering	Chemical Engineering			4	5503	6	36.0	STS-65 (Columbia), STS-72 (Endeavor), STS-92 (Discovery), ISS-10 (Soyuz)
Kevin P. Chilton	1987.0	12.0	Retired	1954-03-11	Los Angeles, CA	Male	US Air Force Academy; Columbia University	Engineering Science	Mechanical Engineering	Brigadier General	US Air Force (Retired)	3	700	0	0.0	STS-49 (Endeavor), STS-59 (Endeavor), STS-76 (Atlantis)
Laurel B. Clark	1996.0	16.0	Deceased	1961-03-10	Ames, IA	Female	University of Wisconsin-Madison	Zoology	Medicine	Captain	US Navy	1	382	0	0.0	STS-107 (Columbia)	2003-02-01	STS-107 (Columbia)
Mary L. Cleave	1980.0	9.0	Retired	1947-02-05	Southampton, NY	Female	Colorado State University; Utah State University	Biological Science	Microbial Ecology; Environmental Engineering			2	262	0	0.0	STS 61-B (Atlantis), STS-30 (Atlantis)
Michael R. Clifford	1990.0	13.0	Retired	1952-10-13	San Bernardino, CA	Male	US Military Academy; Georgia Institute of Technology		Aerospace Engineering	Lieutenant Colonel	US Army (Retired)	3	666	1	6.0	STS-53 (Discovery), STS-59 (Endeavor), STS-76 (Atlantis)
Michael L. Coats	1978.0	8.0	Retired	1946-01-16	Sacramento, CA	Male	US Naval Academy; George Washington University; US Naval Postgraduate School		Science & Technology Administration; Aeronautical Engineering	Captain	US Navy (Retired)	3	463	0	0.0	STS 41-D (Discovery), STS-29 (Discovery), STS-39 (Discovery)
Kenneth D. Cockrell	1990.0	13.0	Management	1950-04-09	Austin, TX	Male	University of Texas; University of West Florida	Mechanical Engineering	Aeronautical Systems		US Naval Reserves	5	1548	0	0.0	STS-56 (Discovery), STS-69 (Endeavor), STS-80 (Columbia), STS-98 (Atlantis), STS-111 (Endeavor)
Catherine G. Coleman	1992.0	14.0	Active	1960-12-14	Charleston, SC	Female	MIT; University of Massachusetts	Chemistry	Polymer Science & Engineering	Colonel	US Air Force (Retired)	3	4324	0	0.0	STS-73 (Columbia), STS-93 (Columbia), ISS-26/27 (Soyuz)
Eileen M. Collins	1990.0	13.0	Retired	1959-11-19	Elmira, NY	Female	Syracuse University; Stanford University; Webster University	Mathematics & Economics	Operations Research; Space Systems Management	Colonel	US Air Force (Retired)	4	890	0	0.0	STS-63 (Discovery), STS-84 (Atlantis), STS-114 (Columbia), STS-93 (Discovery)
Michael Collins	1963.0	3.0	Retired	1930-10-31	Rome, Italy	Male	US Military Academy				US Air Force Reserves	2	266	1	1.0	Gemini 10, Apollo 11
Charles Conrad Jr. 	1962.0	2.0	Deceased	1930-05-02	Philadelphia, PA	Male	Princeton University	Aeronautical Engineering		Captain	US Navy (Retired)	4	1179	4	12.0	Gemini 5, Gemini 11, Apollo 12, Skylab 2	1999-07-08
L. Gordon Cooper Jr. 	1959.0	1.0	Deceased	1927-03-06	Shawnee, OK	Male	Air Force Institute of Technology	Aeronautical Engineering		Colonel	US Air Force (Retired)	2	225	0	0.0	Mercury 9, Gemini 5	2004-10-04
Richard O. Covey	1978.0	8.0	Retired	1946-08-01	Fayetteville, AR	Male	US Air Force Academy; Purdue University	Engineering Science	Aeronautics & Astronautics	Colonel	US Air Force (Retired)	4	645	0	0.0	STS 51-l (Discovery), STS-26 (Discovery), STS-38 (Atlantis), STS-61 (Endeavor)
Timothy J. Creamer	1998.0	17.0	Management	1959-11-15	Ft. Huachuca, AZ	Male	Loyola College; MIT	Chemistry	Physics	Colonel	US Army (Retired)	1	3917	0	0.0	ISS-22/23 (Soyuz)
John O. Creighton	1978.0	8.0	Retired	1943-04-28	Orange, TX	Male	US Naval Academy; George Washington University		Science & Technology Administration	Captain	US Navy (Retired)	3	404	0	0.0	STS 51-G (Discovery), STS-36 (Atlantis), STS-48 (Discovery)
Robert L. Crippen	1969.0	7.0	Retired	1937-09-11	Beaumont, TX	Male	University of Texas	Aerospace Engineering		Captain	US Navy (Retired)	4	565	0	0.0	STS-1 (Columbia), STS-7 (Challenger), STS 41-C (Challenger), STS 41-G (Challenger)
Roger K. Crouch			Retired	1940-09-12	Jamestown, TN	Male	Tennessee Polytechnic Institute; Virginia Polytechnic Institute	Physics	Physics			1	471	0	0.0	STS-83 (Columbia), STS-94 (Columbia)