# Import and Export Files

# Challenge 1 - Working with JSON files
Import the pandas library.

In [2]:
# your code here
import pandas as pd

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [3]:
# Loading nasa json file into a pandas dataframe
nasa= pd.read_json("nasa.json")

Now that we have loaded the data, let's examine it using the head() function.

In [4]:
# Examining first 5 rows
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [5]:
# your code here
nasa['fall'].value_counts()

fall
Fell     996
Found      4
Name: count, dtype: int64

In [6]:
#List of options for the fall column
list(nasa['fall'].unique())

['Fell', 'Found']

In [7]:
#Number of occurrences where is fell 
fell_count = (nasa['fall'] == 'Fell').sum()
print(f"Number of occurrences where is fell is {fell_count} in {len(nasa['fall'])}. ")

Number of occurrences where is fell is 996 in 1000.

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [8]:
#Each line as a list of dictionaries, column names as keys
nasa.to_json('nasa-output.json',orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.There's a total of 9 relevant columns, knowing in the txt file it has 10, where the first one relates to the index. Find more information [here](https://archive.ics.uci.edu/dataset/148/statlog+shuttle)

In [9]:
# Run this code:
import pandas as pd
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [ ]:
# Your code here:
shuttle=pd.read_csv(tst_url, sep= ' ', names=cols)

Let's verify that this worked by looking at the `head()` function.

In [ ]:
shuttle.head()

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [ ]:
#Fix the index
shuttle.index = range(len(shuttle))
shuttle

In [ ]:
#Save DataFrame into a csv
shuttle.to_csv("shuttle.csv", sep=',', index=None)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
#Convert excel file into a dataframe
astronaut=pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [ ]:
astronaut.head()

In [ ]:
astronaut.shape

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# Your code here:
astronaut['Undergraduate Major'].value_counts()

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [ ]:
astronaut.to_csv("astronaut.csv", sep='\t', index=None)