# Challenge 1 - Working with JSON files
Import the pandas library.

In [1]:
# your code here
import pandas as pd

# Import and Export Files

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [5]:
# your code here
import pandas as pd
import os 
os.chdir("C:\\Users\\hilu1\\ironhack\\week2\\lab-import-export\\your-code")
pd.read_json("nasa.json")

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [79.41667, 13...",24009,230.0,Tirupati,Valid,H6,13.63333,79.41667,1934-01-01T00:00:00.000
996,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-7.61123, 29...",54823,7000.0,Tissint,Valid,Martian (shergottite),29.48195,-7.61123,2011-01-01T00:00:00.000
997,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [111.53333, -...",24011,20000.0,Tjabe,Valid,H6,-7.08333,111.53333,1869-01-01T00:00:00.000
998,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [106.58333, -...",24012,16500.0,Tjerebon,Valid,L5,-6.66667,106.58333,1922-01-01T00:00:00.000
999,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [34.76667, 47...",24019,600.0,Tomakovka,Valid,LL6,47.85000,34.76667,1905-01-01T00:00:00.000

Now that we have loaded the data, let's examine it using the head() function.

In [11]:
# your code here
import pandas as pd
import os 
os.chdir("C:\\Users\\hilu1\\ironhack\\week2\\lab-import-export\\your-code")
pd.read_json("nasa.json")
data = pd.read_json("nasa.json")
data.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [18]:
# your code here
import pandas as pd
value_counts = data['year'].value_counts()
print(value_counts)

year
1933-01-01T00:00:00.000    16
1949-01-01T00:00:00.000    12
1868-01-01T00:00:00.000    11
1930-01-01T00:00:00.000    11
1934-01-01T00:00:00.000    10
                           ..
1839-01-01T00:00:00.000     1
1820-01-01T00:00:00.000     1
1769-01-01T00:00:00.000     1
1801-01-01T00:00:00.000     1
1807-01-01T00:00:00.000     1
Name: count, Length: 247, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [22]:
# your code here
import pandas as pd
value_counts = data['year'].value_counts()
data.to_json("nasa-output.json", orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [43]:
#Your pandas import here:
import requests
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst"
response = requests.get(url)
if response.status_code == 200:
    data = pd.read_csv(url)
    print(data)

          55 0 81 0 -6 11 25 88 64 4
0          56 0 96 0 52 -4 40 44 4 4
1         50 -1 89 -7 50 0 39 40 2 1
2         53 9 79 0 42 -2 25 37 12 4
3          55 2 82 0 54 -6 26 28 2 1
4          41 0 84 3 38 -4 43 45 2 1
...                              ...
14494  80 0 84 0 -36 -29 4 120 116 5
14495   55 0 81 0 -20 25 26 102 76 4
14496    55 0 77 0 12 -22 22 65 42 4
14497   37 0 103 0 18 -16 66 85 20 1
14498       56 2 98 0 52 1 42 46 4 4

[14499 rows x 1 columns]

In [48]:
# Run this code:
import requests
import pandas as pd
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'
response = requests.get(tst_url)
data = pd.read_csv(tst_url, names=cols, sep=' ')
print(data)

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2
..   ...       ...        ...       ...   ...     ...        ...       ...
80     0        84          0       -36   -29       4        120       116
55     0        81          0       -20    25      26        102        76
55     0        77          0        12   -22      22         65        42
37     0       103          0        18   -16      66         85        20
56     2        98          0        52     1      42         46         4

    class
55      4
56      4
50      1
53      4
55      1
..    ...
80      5
55      4
55      4
37      1
56      4

[14500 rows x 9 columns]

In [50]:
# Your code here:
import requests
import pandas as pd
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'
response = requests.get(tst_url)
data = pd.read_csv(tst_url, names=cols, sep=' ')
print(data.head())

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2

    class
55      4
56      4
50      1
53      4
55      1

Let's verify that this worked by looking at the `head()` function.

In [51]:
# Your code here:
import requests
import pandas as pd
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'
response = requests.get(tst_url)
data = pd.read_csv(tst_url, names=cols, sep=' ')
print(data.head())

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2

    class
55      4
56      4
50      1
53      4
55      1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [56]:
# Your code here:
import requests
import pandas as pd
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'
response = requests.get(tst_url)
shuttle = pd.read_csv(tst_url, names=cols, sep=' ')
print(shuttle)
shuttle.to_csv("shuttle.csv", sep=',')

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2
..   ...       ...        ...       ...   ...     ...        ...       ...
80     0        84          0       -36   -29       4        120       116
55     0        81          0       -20    25      26        102        76
55     0        77          0        12   -22      22         65        42
37     0       103          0        18   -16      66         85        20
56     2        98          0        52     1      42         46         4

    class
55      4
56      4
50      1
53      4
55      1
..    ...
80      5
55      4
55      4
37      1
56      4

[14500 rows x 9 columns]

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [1]:
# Your code here:
import pandas as pd
import xlrd
astronaut = pd.read_excel(r"C:\Users\hilu1\ironhack\week2\lab-import-export\your-code\astronauts.xls")
print(astronaut)

ModuleNotFoundError: No module named 'xlrd'

Use the `head()` function to inspect the dataframe.

In [12]:
# Your code here:

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [13]:
# Your code here:

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [14]:
# Your code here: